*{
    box-sizing: border-box;
}
.mee{
    background-image: url("fm.png");
    min-height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
margin: 0%;
font-family: Arial, Helvetica, sans-serif;
}
.header{
    overflow: hidden;
    padding: 20px 10px;
}
/* .home{
    float: right;
    color: white;
    padding-left: 40px;
} */
button{
    float: right;
}
.header a{
    float: right;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
    position: sticky;
    margin-right:30px ;
}
.header a:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: black;
    float:left;
    /* text-align:left; */
     padding-right:450px; 
     font-size:20px;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }  
  #hamburger-icon{
    margin:auto 0;
    display:none;
    cursor:pointer;
    margin-bottom: 300px;
    
  }
  #hamburger-icon div{
    width:35px;
    height:3px;
    background-color:black;
    margin:6px 0;
    transition:0.4s;
  }
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  .mobile-menu li {
    margin-bottom: 10px;
  }
   a.logo{
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding-left: 50px;
} 
button{
    padding: 10px ; 
    cursor: pointer; 
    margin-top: 15px;
    float: right;
    margin: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-left: 30px;
   }
.signup{
background-color: chocolate;
color: black;
padding-right: 30px;
padding-left: 30px;
}
.writeup{
    text-align: center;
    color: black;
}
.urban{
    font-size: 40px;
}
.get{
    text-align: center;
    float: none;
    margin-left: 600px;
    background-color: chocolate;
    color: black;
    box-sizing: content-box;
    padding-left: 30px;
    padding-right: 30px;
}
h1{
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto  ;
    gap: 10px;
    padding: 30px;
    border-radius: 30px;
    column-gap: 30px;
    margin-bottom: 40px;
    border: 30px;
}
.grid-container>div{
    border-radius:30px ;
    padding-top: 40px;
    padding: 30px;
text-align: center;
  }
  .ree{
    float: right;
  }
  
@media screen and (max-width:  600px ) {
    .header a {
      display: none;
    }
    #hamburger-icon{
        display:block;
        margin-right:100px;
        margin-bottom:300px;
        margin-top: -90px;
    }
    ul{
        margin-left:70px;
    }
   .writeup{
    padding:80px;
   }
    .header-right {
        float: none;
      }
      .lg{
        margin-right:300px;
        margin-bottom:150px;
        margin-right:450px;
        margin-top:-30px;
      }
      @media only screen and (min-width: 600px) {
        .mee { 
           background-image: url('fm.png'); 
        }
      } 
      @media only screen and (min-width: 600px) {
      .get{
        display:block;
        margin-right:100px;
        /* float: left;
        /* text-align: left; */
        /* position:absolute; */
        /* margin-right:; */
        /* margin-bottom: 30px; */ 
      }
    }
    .she{
        text-align:left;
        padding-left:40px;
        font-size:15px;
        /* margin-top:170px; */
        margin-bottom:200px;
    }
    .urban{
        text-align: center;
        margin-bottom:40px;
        margin-top:150px;
    }
    @media only screen and (min-width: 600px) {
    .she{
        text-align: right;
        padding-left:40px;
    }
}
.grid-container{
    float: none;
    display: grid;
    grid-template-columns: auto  ;
    column-gap: -500px;
    width: -40px;
}
}